.registerbgCss {
  background-image: url("https://images.pexels.com/photos/1089455/pexels-photo-1089455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
